<p>
 This is sample of Interpolation :  {{title}}
</p>

<div>
 EId :  {{employee.empId}} 
</div>
<div>
 Name :  {{employee.empname}}
</div>
<div>
 EmployeeId :   <input type="text" [(ngModel)]="employee.empId" />
 NAme :   <input type="text" [value] = "employee.empname" [(ngModel)]="employee.empname" />
<button type="submit" (click) = "addUser()" >Add User</button>
 
   <div *ngIf="employees && employees.length>0">
    <table class="table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
          
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let emp of employees">
            <td>{{emp.empId}} </td>
            <td>{{emp.empname}} </td>
          
          </tr>
        </tbody>
      </table>
    
   </div>
 
</div>